---
http_interactions:
- request:
    method: get
    uri: https://rs.poms.omroep.nl/v1/api/media/POMS_S_NTR_2448585
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Npo-Date:
      - Tue, 26 Apr 2016 14:07:52 +0200
      Authorization:
      - NPO <POMS_KEY>:1lJV2B+iwz22rOwDcPcaoKhCmps9t+1TkblZrvpXOMM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Proxyinstancename:
      - poms1b
    body:
      encoding: UTF-8
      string: '{"objectType":"group","mid":"POMS_S_NTR_2448585","type":"PLAYLIST","avType":"VIDEO","workflow":"PUBLISHED","creationDate":1446549217004,"lastModified":1454588671006,"urn":"urn:vpro:media:group:65263079","embeddable":true,"broadcasters":[{"id":"NTR","value":"NTR"}],"titles":[{"value":"De
        Buitendienst","owner":"BROADCASTER","type":"MAIN"},{"value":"De Buitenband","owner":"BROADCASTER","type":"SUB"}],"genres":[],"countries":[],"languages":[],"publishDate":1454588804949,"isOrdered":true}'
  recorded_at: Tue, 26 Apr 2016 12:07:52 GMT
recorded_with: VCR 2.9.3
