---
http_interactions:
- request:
    method: get
    uri: http://docs.poms.omroep.nl/media/POW_00182680
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4-357e2089c9265f0423947fef7cec1e4a"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Proxyinstancename:
      - poms1b
    body:
      encoding: UTF-8
      string: |
        {"_id":"POW_00182680","_rev":"4-357e2089c9265f0423947fef7cec1e4a","objectType":"program","mid":"POW_00182680","creationDate":1384336210169,"lastModified":1418306875975,"sortDate":1239290408000,"urn":"urn:vpro:media:program:32429680","embeddable":true,"episodeOf":[{"midRef":"POW_00182675","urnRef":"urn:vpro:media:group:25364103","type":"SEASON","index":5,"highlighted":false,"added":1384336210271}],"broadcasters":["AVRO"],"titles":[{"value":"De uitverkorene","owner":"WHATS_ON","type":"MAIN"},{"value":"The Chosen One","owner":"WHATS_ON","type":"ORIGINAL"}],"descriptions":[{"value":"Live action comedy serie over Taylor Fry, een 11-jarig meisje met een rijke fantasie","owner":"WHATS_ON","type":"MAIN"}],"genres":[],"countries":[],"languages":[],"avAttributes":{"videoAttributes":{"color":"BLACK_AND_WHITE_AND_COLOR","aspectRatio":"16:9"},"audioAttributes":{"numberOfChannels":2}},"descendantOf":[{"midRef":"POW_00182675","urnRef":"urn:vpro:media:group:25364103","type":"SEASON"}],"scheduleEvents":[{"start":1239290408000,"duration":1323000,"poProgID":"POW_00182680","channel":"NED3","urnRef":"urn:vpro:media:program:32429680","midRef":"POW_00182680"},{"start":1267799700000,"duration":1323000,"poProgID":"POW_00182680","channel":"NED3","urnRef":"urn:vpro:media:program:32429680","midRef":"POW_00182680"},{"start":1271943407000,"duration":1323000,"poProgID":"POW_00182680","channel":"NED3","urnRef":"urn:vpro:media:program:32429680","midRef":"POW_00182680"},{"start":1272184155000,"duration":1312000,"poProgID":"POW_00182680","channel":"NED3","urnRef":"urn:vpro:media:program:32429680","midRef":"POW_00182680"},{"start":1303221344000,"duration":1320000,"poProgID":"POW_00182680","channel":"NED3","urnRef":"urn:vpro:media:program:32429680","midRef":"POW_00182680"},{"start":1303552520000,"duration":1321000,"poProgID":"POW_00182680","channel":"NED3","urnRef":"urn:vpro:media:program:32429680","midRef":"POW_00182680"},{"start":1310894549000,"duration":1312000,"poProgID":"POW_00182680","channel":"NED3","urnRef":"urn:vpro:media:program:32429680","midRef":"POW_00182680"},{"start":1371477678000,"duration":1321000,"poProgID":"POW_00182680","channel":"NED3","urnRef":"urn:vpro:media:program:32429680","midRef":"POW_00182680"}],"images":[{"title":"Zooo genant","description":"Zooo genant","imageUri":"urn:vpro:image:549327","height":1152,"width":2048,"credits":"","creationDate":1418306875888,"lastModified":1418306875968,"workflow":"PUBLISHED","owner":"BROADCASTER","type":"PROMO_LANDSCAPE","highlighted":false,"urn":"urn:vpro:media:image:48888808"}],"workflow":"PUBLISHED","type":"BROADCAST","avType":"VIDEO"}
  recorded_at: Tue, 06 Oct 2015 12:00:00 GMT
recorded_with: VCR 2.9.3
