---
http_interactions:
- request:
    method: get
    uri: https://rs.poms.omroep.nl/v1/api/schedule/channel/OPVO?max=1&sort=asc&start=2016-01-01T12:00:00%2B01:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Npo-Date:
      - Fri, 01 Jan 2016 12:00:00 +0100
      Authorization:
      - NPO <POMS_KEY>:zg6Ooxcpe/4Ov+2/96L6Fx9StqLzHYpzdMuU1xsEqkw=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxyinstancename:
      - poms1a
    body:
      encoding: UTF-8
      string: '{"total":7451,"offset":0,"max":1,"items":[{"guideDay":1451602800000,"start":1451651100000,"duration":663000,"channel":"OPVO","urnRef":"urn:vpro:media:program:67285612","midRef":"T_POW_00655909","media":{"objectType":"program","mid":"T_POW_00655909","type":"BROADCAST","avType":"VIDEO","sortDate":1451627400000,"urn":"urn:vpro:media:program:67285612","embeddable":true,"broadcasters":[{"id":"AVRO","value":"AVRO"}],"titles":[{"value":"Twisted
        Whiskers","owner":"MIS","type":"MAIN"},{"value":"Oost west-thuis best","owner":"MIS","type":"SUB"}],"genres":[],"countries":[],"languages":[]}}]}'
  recorded_at: Fri, 01 Jan 2016 11:00:00 GMT
recorded_with: VCR 3.0.3
