---
http_interactions:
- request:
    method: get
    uri: https://rs.poms.omroep.nl/v1/api/schedule/channel/OPVO/next
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Npo-Date:
      - Wed, 11 May 2016 10:59:28 +0200
      Authorization:
      - NPO <POMS_KEY>:lFrmAf28OYVUrRugU+WQ2ysoQR8pD1c9V6pTGNJxlvs=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxyinstancename:
      - poms1b
    body:
      encoding: UTF-8
      string: '{"textSubtitles":"Teletekst ondertitels","guideDay":1462917600000,"start":1462957800000,"duration":960000,"channel":"OPVO","urnRef":"urn:vpro:media:program:73684990","midRef":"T_POW_03080274","media":{"objectType":"program","mid":"T_POW_03080274","type":"BROADCAST","avType":"VIDEO","sortDate":1462945500000,"urn":"urn:vpro:media:program:73684990","embeddable":true,"broadcasters":[{"id":"AVTR","value":"AVROTROS"}],"titles":[{"value":"Zappsport","owner":"MIS","type":"MAIN"}],"genres":[],"countries":[],"languages":[]}}'
  recorded_at: Wed, 11 May 2016 08:59:28 GMT
recorded_with: VCR 2.9.3
