---
http_interactions:
- request:
    method: get
    uri: http://docs.poms.omroep.nl/media/_design/media/_view/broadcasts-by-channel-and-start?endkey=%5B%22NED3%22,1411055527000%5D&include_docs=true&limit=1&reduce=false&startkey=%5B%22NED3%22,1410969127000%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2FU2LZCP2Z323WK9DGGD0ZKHI"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Proxyinstancename:
      - poms1b
    body:
      encoding: UTF-8
      string: "{\"total_rows\":937833,\"offset\":575825,\"rows\":[\r\n{\"id\":\"KN_1661991\",\"key\":[\"NED3\",1410969900000],\"value\":null,\"doc\":{\"_id\":\"KN_1661991\",\"_rev\":\"83-090c8431983739dc16ef62342cc3cf63\",\"objectType\":\"program\",\"mid\":\"KN_1661991\",\"creationDate\":1408855690276,\"lastModified\":1448285013315,\"hasSubtitles\":true,\"sortDate\":1410969900000,\"urn\":\"urn:vpro:media:program:44386098\",\"embeddable\":true,\"episodeOf\":[{\"midRef\":\"KN_1660484\",\"urnRef\":\"urn:vpro:media:group:44162415\",\"type\":\"SEASON\",\"index\":13,\"highlighted\":false,\"added\":1408855690427}],\"broadcasters\":[\"NCRV\"],\"titles\":[{\"value\":\"Het
        verborgen eiland\",\"owner\":\"MIS\",\"type\":\"MAIN\"},{\"value\":\"Het verborgen
        eiland\",\"owner\":\"WHATS_ON\",\"type\":\"MAIN\"}],\"descriptions\":[{\"value\":\"Terwijl
        Jip en Feike het konijn bevrijden uit een val, zien we plotseling een vreemde
        man. De kinderen hebben ruzie over het wel of niet opeten van het gewonde
        konijn. Opeens is Isis verdwenen. En het konijn ook. Tevens is er flinke storm
        opkomst.\",\"owner\":\"WHATS_ON\",\"type\":\"MAIN\"},{\"value\":\"Terwijl
        Jip en Feike het konijn bevrijden uit een val, zien we plotseling een vreemde
        man. De kinderen hebben ruzie over het wel of niet opeten van het gewonde
        konijn.\",\"owner\":\"MIS\",\"type\":\"SHORT\"},{\"value\":\"Terwijl Jip en
        Feike het konijn bevrijden uit een val, zien we plotseling een vreemde man.
        De kinderen hebben ruzie over het wel of niet opeten van het gewonde konijn.
        Opeens is Isis verdwenen. En het konijn ook. Tevens is er flinke storm opkomst.\",\"owner\":\"MIS\",\"type\":\"EPISODE\"},{\"value\":\"Terwijl
        Jip en Feike het konijn bevrijden uit een val, zien we plotseling een vreemde
        man.\",\"owner\":\"MIS\",\"type\":\"KICKER\"}],\"genres\":[\"Jeugd\",\"Serie/soap\"],\"countries\":[\"NL\"],\"languages\":[\"NL\"],\"avAttributes\":{\"videoAttributes\":{\"color\":\"BLACK_AND_WHITE_AND_COLOR\",\"aspectRatio\":\"16:9\"},\"audioAttributes\":{\"numberOfChannels\":2}},\"releaseYear\":2014,\"duration\":1190650,\"descendantOf\":[{\"midRef\":\"KN_1660484\",\"urnRef\":\"urn:vpro:media:group:44162415\",\"type\":\"SEASON\"},{\"midRef\":\"POMS_S_KN_608510\",\"urnRef\":\"urn:vpro:media:group:44243120\",\"type\":\"SERIES\"}],\"ageRating\":6,\"contentRatings\":[\"GEWELD\",\"ANGST\"],\"websites\":[{\"value\":\"www.hetverborgeneiland.nl\"}],\"predictions\":[{\"state\":\"REALIZED\",\"platform\":\"INTERNETVOD\"},{\"state\":\"REALIZED\",\"publishStart\":1410971132000,\"publishStop\":1413390332000,\"platform\":\"PLUSVOD\"}],\"locations\":[{\"programUrl\":\"odip+http://odi.omroep.nl/video/adaptive/KN_1661991\",\"avAttributes\":{\"avFileFormat\":\"HASP\"},\"owner\":\"CERES\",\"platform\":\"INTERNETVOD\",\"creationDate\":1410973863627,\"lastModified\":1410973863786,\"workflow\":\"PUBLISHED\",\"urn\":\"urn:vpro:media:location:44963513\"},{\"programUrl\":\"odi+http://odi.omroep.nl/video/h264_sb/KN_1661991\",\"avAttributes\":{\"bitrate\":200000,\"avFileFormat\":\"H264\"},\"owner\":\"CERES\",\"platform\":\"INTERNETVOD\",\"creationDate\":1410972376294,\"lastModified\":1410972376456,\"workflow\":\"PUBLISHED\",\"urn\":\"urn:vpro:media:location:44963260\"},{\"programUrl\":\"odi+http://odi.omroep.nl/video/h264_bb/KN_1661991\",\"avAttributes\":{\"bitrate\":500000,\"avFileFormat\":\"H264\"},\"owner\":\"CERES\",\"platform\":\"INTERNETVOD\",\"creationDate\":1410972373898,\"lastModified\":1410972374067,\"workflow\":\"PUBLISHED\",\"urn\":\"urn:vpro:media:location:44963258\"},{\"programUrl\":\"odi+http://odi.omroep.nl/video/h264_std/KN_1661991\",\"avAttributes\":{\"bitrate\":1000000,\"avFileFormat\":\"H264\"},\"owner\":\"CERES\",\"platform\":\"INTERNETVOD\",\"creationDate\":1410972667934,\"lastModified\":1410972668120,\"workflow\":\"PUBLISHED\",\"urn\":\"urn:vpro:media:location:44963311\"}],\"scheduleEvents\":[{\"textSubtitles\":\"Teletekst
        ondertitels\",\"guideDay\":1410904800000,\"start\":1410969900000,\"offset\":41000,\"duration\":1230000,\"poProgID\":\"KN_1661991\",\"channel\":\"NED3\",\"net\":\"ZAPP\",\"urnRef\":\"urn:vpro:media:program:44386098\",\"midRef\":\"KN_1661991\"},{\"repeat\":{\"isRerun\":true},\"textSubtitles\":\"Teletekst
        ondertitels\",\"guideDay\":1450306800000,\"start\":1450367700000,\"duration\":1239000,\"poProgID\":\"KN_1661991\",\"channel\":\"BVNT\",\"urnRef\":\"urn:vpro:media:program:44386098\",\"midRef\":\"KN_1661991\"},{\"repeat\":{\"isRerun\":true},\"textSubtitles\":\"Teletekst
        ondertitels\",\"guideDay\":1450306800000,\"start\":1450410900000,\"duration\":1239000,\"poProgID\":\"KN_1661991\",\"channel\":\"BVNT\",\"urnRef\":\"urn:vpro:media:program:44386098\",\"midRef\":\"KN_1661991\"}],\"images\":[{\"title\":\"still\",\"description\":\"still\",\"imageUri\":\"urn:vpro:image:512055\",\"height\":413,\"width\":738,\"owner\":\"BROADCASTER\",\"type\":\"STILL\",\"highlighted\":true,\"creationDate\":1410794480560,\"lastModified\":1410794483179,\"workflow\":\"PUBLISHED\",\"urn\":\"urn:vpro:media:image:44900796\"},{\"title\":\"Het
        verborgen eiland\",\"description\":\"Terwijl Jip en Feike het konijn bevrijden
        uit een val, zien we plotseling een vreemde man. De kinderen hebben ruzie
        over het wel of niet opeten van het gewonde konijn.\",\"imageUri\":\"urn:vpro:image:512963\",\"owner\":\[...]
