---
http_interactions:
- request:
    method: post
    uri: https://rs.poms.omroep.nl/v1/api/media/multiple
    body:
      encoding: UTF-8
      string: '["MID"]'
    headers:
      Content-Type:
      - application/json
      X-Npo-Date:
      - Tue, 06 Oct 2015 14:00:00 +0200
      Authorization:
      - NPO zap:dZUmENbvRjVFsMPOOg7LfX5MBpUiQlFIulNcUu9tP6k=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Proxyinstancename:
      - poms1b
    body:
      encoding: UTF-8
      string: '{"total":1,"offset":0,"max":0,"items":[{"id":"MID","error":"Not found
        MID"}]}'
  recorded_at: Tue, 06 Oct 2015 12:00:00 GMT
recorded_with: VCR 3.0.1
