---
http_interactions:
- request:
    method: get
    uri: http://docs.poms.omroep.nl/media/_design/media/_view/by-ancestor-and-type?include_docs=false&key=%5B%22POMS_S_KRO_059861%22,%22BROADCAST%22%5D&reduce=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"77NNFYEZ6MGDHB0YFMP6V84E"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Proxyinstancename:
      - poms1a
    body:
      encoding: UTF-8
      string: "{\"total_rows\":1658251,\"offset\":577246,\"rows\":[\r\n{\"id\":\"KN_1655665\",\"key\":[\"POMS_S_KRO_059861\",\"BROADCAST\"],\"value\":null},\r\n{\"id\":\"KN_1655666\",\"key\":[\"POMS_S_KRO_059861\",\"BROADCAST\"],\"value\":null},\r\n{\"id\":\"KN_1655667\",\"key\":[\"POMS_S_KRO_059861\",\"BROADCAST\"],\"value\":null},\r\n{\"id\":\"KN_1655668\",\"key\":[\"POMS_S_KRO_059861\",\"BROADCAST\"],\"value\":null},\r\n{\"id\":\"KN_1655674\",\"key\":[\"POMS_S_KRO_059861\",\"BROADCAST\"],\"value\":null},\r\n{\"id\":\"KN_1655675\",\"key\":[\"POMS_S_KRO_059861\",\"BROADCAST\"],\"value\":null},\r\n{\"id\":\"KN_1655676\",\"key\":[\"POMS_S_KRO_[...]
