---
http_interactions:
- request:
    method: get
    uri: http://docs.poms.omroep.nl/media/_design/media/_view/broadcasts-by-channel-and-start?descending=true&endkey=%5B%22NED3%22%2C+1444039200000%5D&include_docs=true&limit=1&reduce=false&startkey=%5B%22NED3%22%2C+1444125600000%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"D6GOBMN6XNDRLS1XC4Y7ZQ2HO"'
      content-type:
      - text/plain; charset=utf-8
      x-proxyinstancename:
      - poms1b
    body:
      encoding: UTF-8
      string: "{\"total_rows\":875824,\"offset\":308362,\"rows\":[\r\n{\"id\":\"POW_01130830\",\"key\":[\"NED3\",1444125300000],\"value\":null,\"doc\":{\"_id\":\"POW_01130830\",\"_rev\":\"157-6f7df756fd3d8ac4af3999a75c945f84\",\"objectType\":\"program\",\"mid\":\"POW_01130830\",\"creationDate\":1428728004993,\"lastModified\":1444336351833,\"hasSubtitles\":true,\"sortDate\":1434352500000,\"urn\":\"urn:vpro:media:program:53879692\",\"embeddable\":true,\"episodeOf\":[{\"midRef\":\"POW_01130794\",\"urnRef\":\"urn:vpro:media:group:53485013\",\"type\":\"SEASON\",\"index\":10,\"highlighted\":false,\"added\":1428728005090}],\"broadcasters\":[\"AVROTROS\"],\"titles\":[{\"value\":\"De
        speelgoeddokter\",\"owner\":\"MIS\",\"type\":\"MAIN\"},{\"value\":\"De speelgoeddokter\",\"owner\":\"WHATS_ON\",\"type\":\"MAIN\"},{\"value\":\"En
        gaan!\",\"owner\":\"MIS\",\"type\":\"SUB\"},{\"value\":\"En gaan!\",\"owner\":\"WHATS_ON\",\"type\":\"SUB\"},{\"value\":\"Blast
        off!\",\"owner\":\"WHATS_ON\",\"type\":\"ORIGINAL\"}],\"descriptions\":[{\"value\":\"Animatieserie
        over het meisje Doc, de speelgoeddokter.\",\"owner\":\"MIS\",\"type\":\"SHORT\"},{\"value\":\"Animatieserie
        over het meisje Doc, de speelgoeddokter.\",\"owner\":\"WHATS_ON\",\"type\":\"SHORT\"},{\"value\":\"Animatieserie
        over het meisje Doc, de speelgoeddokter.\",\"owner\":\"MIS\",\"type\":\"KICKER\"}],\"genres\":[\"Animatie\",\"Jeugd\"],\"countries\":[\"US\"],\"languages\":[\"EN\"],\"avAttributes\":{\"videoAttributes\":{\"color\":\"BLACK_AND_WHITE_AND_COLOR\"},\"audioAttributes\":{\"numberOfChannels\":2}},\"releaseYear\":2011,\"duration\":720000,\"descendantOf\":[{\"midRef\":\"POW_01130794\",\"urnRef\":\"urn:vpro:media:group:53485013\",\"type\":\"SEASON\"},{\"midRef\":\"POMS_S_AT_832156\",\"urnRef\":\"urn:vpro:media:group:53845836\",\"type\":\"SERIES\"}],\"ageRating\":null,\"predictions\":[{\"state\":\"REALIZED\",\"publishStart\":1444123740000,\"publishStop\":1444728540000,\"platform\":\"PLUSVOD\"}],\"scheduleEvents\":[{\"guideDay\":1434319200000,\"start\":1434352500000,\"offset\":116000,\"duration\":793000,\"poProgID\":\"POW_01130830\",\"channel\":\"NED3\",\"net\":\"ZAPPE\",\"urnRef\":\"urn:vpro:media:program:53879692\",\"midRef\":\"POW_01130830\"},{\"guideDay\":1435788000000,\"start\":1435821300000,\"offset\":93000,\"duration\":795000,\"poProgID\":\"POW_01130830\",\"channel\":\"NED3\",\"net\":\"ZAPPE\",\"urnRef\":\"urn:vpro:media:program:53879692\",\"midRef\":\"POW_01130830\"},{\"guideDay\":1438466400000,\"start\":1438491000000,\"offset\":65000,\"duration\":705000,\"poProgID\":\"POW_01130830\",\"channel\":\"NED3\",\"net\":\"ZAPPE\",\"urnRef\":\"urn:vpro:media:program:53879692\",\"midRef\":\"POW_01130830\"},{\"textSubtitles\":\"Teletekst
        ondertitels\",\"guideDay\":1444082400000,\"start\":1444125300000,\"offset\":220000,\"duration\":705000,\"poProgID\":\"POW_01130830\",\"channel\":\"NED3\",\"net\":\"ZAPPE\",\"urnRef\":\"urn:vpro:media:program:53879692\",\"midRef\":\"POW_01130830\"}],\"images\":[{\"title\":\"De
        speelgoeddokter\",\"description\":\"Animatieserie over het meisje Doc, de
        speelgoeddokter.\",\"imageUri\":\"urn:vpro:image:621174\",\"owner\":\"NEBO\",\"type\":\"STILL\",\"highlighted\":false,\"creationDate\":1434355203591,\"lastModified\":1434355204340,\"workflow\":\"PUBLISHED\",\"urn\":\"urn:vpro:media:image:57053080\"},{\"title\":\"De
        speelgoeddokter\",\"description\":\"Animatieserie over het meisje Doc, de
        speelgoeddokter.\",\"imageUri\":\"urn:vpro:image:621175\",\"owner\":\"NEBO\",\"type\":\"STILL\",\"highlighted\":false,\"creationDate\":1434355203917,\"lastModified\":1434355204340,\"workflow\":\"PUBLISHED\",\"urn\":\"urn:vpro:media:image:57053081\"},{\"title\":\"De
        speelgoeddokter\",\"description\":\"Animatieserie over het meisje Doc, de
        speelgoeddokter.\",\"imageUri\":\"urn:vpro:image:621176\",\"owner\":\"NEBO\",\"type\":\"STILL\",\"highlighted\":false,\"creationDate\":1434355204242,\"lastModified\":1434355204340,\"workflow\":\"PUBLISHED\",\"urn\":\"urn:vpro:media:image:57053082\"},{\"title\":\"Speelgoeddokter\",\"description\":\"Speelgoeddokter\",\"imageUri\":\"urn:vpro:image:640983\",\"height\":1688,\"width\":3000,\"owner\":\"BROADCASTER\",\"type\":\"PROMO_LANDSCAPE\",\"highlighted\":false,\"creationDate\":1439563914312,\"lastModified\":1439563914322,\"workflow\":\"PUBLISHED\",\"urn\":\"urn:vpro:media:image:60620402\"}],\"publishDate\":1444728968206,\"workflow\":\"PUBLISHED\",\"type\":\"BROADCAST\",\"avType\":\"VIDEO\"}}\r\n]}\n"
  recorded_at: Tue, 06 Oct 2015 10:00:00 GMT
recorded_with: VCR 2.9.3
