---
http_interactions:
- request:
    method: get
    uri: https://rs.poms.omroep.nl/v1/api/schedule/channel/OPVO?max=1&sort=desc&start=2016-05-01T16:00:00%2B02:00&stop=2016-05-02T16:00:00%2B02:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Npo-Date:
      - Tue, 03 May 2016 16:49:30 +0200
      Authorization:
      - NPO <POMS_KEY>:FXdtqUk9M5d2jpQR1HdtkEYuDCyVl8JG8XhQmN3OBjM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxyinstancename:
      - poms1a
    body:
      encoding: UTF-8
      string: '{"total":104,"offset":0,"max":1,"items":[{"textSubtitles":"Teletekst
        ondertitels","guideDay":1462140000000,"start":1462197600000,"duration":754000,"channel":"OPVO","urnRef":"urn:vpro:media:program:75115165","midRef":"T_POW_00835305","media":{"objectType":"program","mid":"T_POW_00835305","type":"BROADCAST","avType":"VIDEO","sortDate":1462197600000,"urn":"urn:vpro:media:program:75115165","embeddable":true,"broadcasters":[{"id":"VARA","value":"VARA"}],"titles":[{"value":"De
        Smurfen","owner":"MIS","type":"MAIN"},{"value":"Een potig hart","owner":"MIS","type":"SUB"}],"genres":[],"countries":[],"languages":[]}}]}'
  recorded_at: Tue, 03 May 2016 14:49:30 GMT
recorded_with: VCR 3.0.1
