---
http_interactions:
- request:
    method: get
    uri: https://rs-test.poms.omroep.nl/v1/api/media/redirects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3474294"'
      Last-Modified:
      - Fri, 05 Feb 2016 13:41:26 GMT
      Content-Type:
      - application/json;charset=utf-8
      X-Proxyinstancename:
      - poms1a
    body:
      encoding: UTF-8
      string: '{"lastUpdate":"2016-02-05T14:41:26.817+01:00","map":{"POMS_S_VPRO_083803":"VPWON_1250374","POMS_S_AVRO_096666":"POMS_S_AVRO_120136","POMS_S_TVGELDERLAND_133433":"POMS_S_RTVNH_133605","POMS_S_EO_097367":"VPWON_1257896","POMS_S_AVRO_120136":"POMS_S_VPRO_397956","POMS_S_AVRO_480138":"POMS_S_VPRO_113176","POMS_S_NTR_059958":"VPWON_1247335","POMS_S_NTR_452571":"VPWON_1249361","POMS_S_VPRO_686783":"VPWON_1250334","POMS_S_EO_059855":"VPWON_1257901","POMS_S_VPRO_405636":"VPWON_1250305","POMS_S_TROS_608455":"AT_2033889","POMS_S_MAX_112154":"POW_03094259","POMS_S_VPRO_084079":"VPWON_1250846","POMS_S_MAX_108583":"POW_03075258"}}'
  recorded_at: Tue, 06 Oct 2015 12:00:00 GMT
recorded_with: VCR 2.9.3
