---
http_interactions:
- request:
    method: get
    uri: https://rs.poms.omroep.nl/v1/api/media/redirects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Npo-Date:
      - Fri, 22 Apr 2016 16:21:23 +0200
      Authorization:
      - NPO <POMS_KEY>:Ear7b+w3RZJkkROZYHiozUrsoVJzDv+fN+OB4XrpCmo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"-268012065"'
      Last-Modified:
      - Thu, 21 Apr 2016 08:31:03 GMT
      Content-Type:
      - application/json;charset=utf-8
      X-Proxyinstancename:
      - poms1a
    body:
      encoding: UTF-8
      string: '{"lastUpdate":"2016-04-22T16:21:03.540+02:00","lastChange":"2016-04-21T10:31:03.539+02:00","map":{"POMS_S_NTR_630715":"VPWON_1260898","POMS_S_TROS_098828":"AT_2045908","POMS_S_TROS_123317":"AT_2033328","POMS_S_EO_611685":"VPWON_1260372","POMS_S_VPRO_1701932":"VPWON_1250080","POMS_S_NCRV_091439":"KN_1677070","POMS_S_AT_844275":"AT_2033696","POMS_S_NTR_447026":"VPWON_1261550","POMS_S_VPRO_084079":"VPWON_1250846","POMS_S_VPRO_2205192":"VPWON_1250529","POMS_S_MAX_109400":"POW_03148098","POMS_S_KN_1666829":"KN_1680026","POMS_S_VARA_124084":"VARA_101377710","POMS_S_AT_800575":"AT_2048005","POMS_S_KRO_450384":"POW_03040837","POMS_S_EO_612304":"VPWON_1260373","POMS_S_EO_612300":"VPWON_1257896","POMS_S_EO_098081":"VPWON_1260610","POMS_S_TROS_183173":"AT_2037144","POMS_S_NCRV_794218":"KN_1679976","POMS_S_NTR_704851":"VPWON_1251200","POMS_S_KRO_3052081":"POW_02944474","POMS_S_BNN_3158931":"BNN_101377943","POMS_S_EO_408283":"POW_00887152","POMS_S_EO_574637":"POW_00890718","POMS_S_NTR_125037":"VPWON_1251931","POMS_S_EO_097409":"VPWON_1257897","POMS_S_NTR_124988":"POW_00890600","POMS_S_EO_097408":"VPWON_1257902","POMS_S_KRO_454893":"KN_1676940","POMS_S_MAX_111497":"POW_03094278","POMS_S_MAX_059941":"POW_03108318","POMS_S_AT_728505":"AT_2037364","POMS_S_MAX_109064":"POW_03108559","POMS_S_NTR_446996":"POW_00890720","POMS_S_NTR_446995":"POW_00890544","POMS_S_NTR_625340":"VPWON_1260913","POMS_S_NTR_465239":"VPWON_1247336","POMS_S_VARA_756979":"VARA_101378165","POMS_S_NTR_446994":"POW_00890622","POMS_S_AT_2125987":"AT_2041364","POMS_S_AVRO_447150":"AT_2036145","POMS_S_BNN_813970":"BNN_101378960","POMS_S_VPRO_3189625":"POW_03031475","POMS_S_NTR_100662":"VPWON_1251931","POMS_S_EO_059855":"VPWON_1257901","POMS_S_MAX_059953":"POW_03108298","POMS_S_TROS_098860":"AT_2033752","POMS_S_TROS_098741":"AT_2046485","POMS_S_TROS_098746":"AT_2032968","POMS_S_EO_408347":"POW_00887140","POMS_S_KRO_123907":"KN_1677590","POMS_S_TROS_397953":"AT_2037850","POMS_S_EO_113995":"VPWON_1260316","POMS_S_KRO_123908":"KN_1678993","POMS_S_NTR_125374":"POW_02934232","POMS_S_NTR_3198598":"VPWON_1258838","POMS_S_TROS_627985":"AT_2032109","POMS_S_KRO_123901":"POW_00828660","POMS_S_NPO_422431":"VARA_101377693","POMS_S_MAX_1076312":"POW_01093660","POMS_S_NTR_100872":"VPWON_1247337","POMS_S_NTR_123746":"VPWON_1259659","POMS_S_VARA_124202":"VARA_101378105","POMS_S_BNN_399127":"BNN_101378676","POMS_S_VPRO_168360":"VPWON_1250847","POMS_S_EO_480266":"POW_00890608","POMS_S_NTR_755557":"VPWON_1248326","POMS_S_AVRO_096656":"AT_2051232","POMS_S_MAX_637099":"POW_03108288","POMS_S_IKON_836027":"VPWON_1257893","POMS_S_NTR_3189626":"VPWON_1256954","POMS_S_MAX_110278":"POW_03108581","POMS_S_NTR_125800":"VPWON_1251931","POMS_S_NTR_102818":"VPWON_1256002","POMS_S_BNN_185218":"POMS_S_BNN_123469","POMS_S_AVRO_096893":"AT_2050620","POMS_S_AVRO_096654":"AT_2046031","POMS_S_AT_834525":"AT_2033324","POMS_S_VARA_099784":"VARA_101377897","POMS_S_NTR_124382":"VPWON_1246715","POMS_S_BNN_123486":"POMS_S_BNN_353697","POMS_S_NTR_100973":"VPWON_1260980","POMS_S_AT_697765":"AT_2036387","POMS_S_KRO_1108342":"POW_01015540","POMS_S_NTR_500442":"VPWON_1251923","POMS_S_KRO_2467590":"KN_1677130","POMS_S_HUMAN_126827":"VPWON_1255111","POMS_S_BNN_123473":"BNN_101378736","POMS_S_MAX_108977":"POW_03108418","POMS_S_BNN_2407988":"BNN_101378116","POMS_S_VARA_632657":"POW_00923661","POMS_S_IKON_183489":"VPWON_1257900","POMS_S_NTR_124377":"VPWON_1247283","POMS_S_EO_608661":"VPWON_1259250","POMS_S_BNN_097352":"BNN_101378039","POMS_S_TROS_098780":"AT_2048922","POMS_S_NTR_2334384":"POW_03010593","POMS_S_BNN_123482":"POMS_S_BNN_337431","POMS_S_EO_2381790":"POW_02977467","POMS_S_NTR_2812045":"VPWON_1251289","POMS_S_NCRV_095871":"AT_2053189","POMS_S_VPRO_113326":"VPWON_1259611","POMS_S_VARA_099767":"VARA_101378705","POMS_S_AVRO_3082404":"AT_2051612","POMS_S_VARA_099768":"VARA_101377772","POMS_S_VPRO_1866588":"VPWON_1250845","POMS_S_NTR_452571":"VPWON_1249361","POMS_S_EO_714163":"POW_00980920","POMS_S_BNN_097362":"BNN_101378209","POMS_S_BNN_097246":"BNN_101377987","POMS_S_BNN_815412":"BNN_101377959","POMS_S_NCRV_096297":"KN_1677095","POMS_S_BNN_815416":"BNN_101378799","POMS_S_NTR_124353":"VPWON_1251931","POMS_S_NTR_124472":"VPWON_1251931","POMS_S_TROS_392071":"POW_00838081","POMS_S_VPRO_3091466":"VPWON_1250309","POMS_S_TROS_523173":"AT_2035122","POMS_S_KRO_391354":"POW_00915650","POMS_S_EO_3033202":"VPWON_1258661","POMS_S_BNN_097254":"BNN_101378019","POMS_S_VPRO_084227":"VPWON_1250849","POMS_S_KRO_124074":"POW_01019020","POMS_S_MAX_668645":"POW_03108578","POMS_S_AVRO_119897":"AT_2037270","POMS_S_EO_408325":"POW_00818820","POMS_S_EO_408326":"POW_00887141","POMS_S_VPRO_083803":"VPWON_1250374","POMS_S_VPRO_083804":"VPWON_1250145","POMS_S_VPRO_083805":"VPWON_1250495","POMS_S_EO_097367":"VPWON_1257901","POMS_S_HUMAN_126637":"VPWON_1255101","POMS_S_HUMAN_105499":"VPWON_1251335","POMS_S_NTR_059958":"VPWON_1247335","POMS_S_NTR_575758":"VPWON_1251931","POMS_S_NTR_575759":"VPWON_1246713","POMS_S_VARA_124275":"VARA_101378075","POMS_S_NTR_059962":"VPWON_1259670","POMS_S_NCRV_090727":"KN_1679108","POMS_S_NTR_059963":"VPWON_1256934","POMS_S_NTR_059960":"VPWON_1256937","POMS_S_BNN_097263":"BNN_101377632","POMS_S_NTR_382043":"VPWON_1251931","POMS_S_EO_097374":"VPWON_1257874","POMS_S_IKON_105678":"VPWON_1257900","POMS_S_AVRO_3058323":"AT_2048191","POMS_S_TROS_3251996":"AT_2053189","POMS_S_EO_097378":"VPWON_1260609","POMS_S_VPRO_762409":"VPWON_1250322","POMS_S_KRO_123998":"POW_01093960","POMS_S_NCRV_090738":"KN_1677489","POMS_S_NTR_124329":"VPWON_1259781","POMS_S_AVRO_677773":"AT_2037172","POMS_S_NTR_714813":"POW_00813461","POMS_S_EO_097370":"VPWON_1260370","POMS_S_EO_114030":"VPWON_1257899","POMS_S_KRO_797293":"KN_1680255","POMS_S_AT_868559":"POW_01003366","POMS_S_NTR_2759657":"VPWON_1247756","POMS_S_BNN_123422":"BNN_101377997","POMS_S_TROS_3059950":"AT_2050274","POMS_S_AVRO_3243253":"AT_2053031","POMS_S_VPRO_3090225":"POW_03055792","POMS_S_AVRO_096708":"AT_2046088","POMS_S_EO_505915":"VPWON_1260371","POMS_S_NTR_3027380":"POW_03108287","POMS_S_VPRO_405636":"VPWON_1250305","POMS_S_MAX_147707":"POW_03108391","POMS_S_VPRO_084038":"AT_2033696","POMS_S_AVRO_119867":"AT_2045553","POMS_S_AVRO_119866":"AT_2044618","POMS_S_MAX_453721":"POW_03108419","POMS_S_EO_516009":"POW_00887160","POMS_S_NTR_3026981":"POW_01099374","POMS_S_TROS_403418":"POMS_S_TROS_817276","POMS_S_VPRO_2299104":"VPWON_1260208","POMS_S_BNN_123416":"BNN_101378393","POMS_S_BNN_172785":"POMS_S_BNN_123486","POMS_S_EO_113926":"VPWON_1260373","POMS_S_VARA_099719":"VARA_101377663","POMS_S_NCRV_059870":"KN_1676932","POMS_S_MAX_570071":"POW_03094258","POMS_S_VARA_059933":"VARA_101377717","POMS_S_MAX_570070":"POW_03108558","POMS_S_VARA_099718":"VARA_101377863","POMS_S_TROS_3243526":"AT_2050788","POMS_S_NTR_470249":"VPWON_1249460","POMS_S_MAX_059936":"POW_03108338","POMS_S_NTR_764655":"VPWON_1246431","POMS_S_VARA_525188":"VARA_101377767","POMS_S_KRO_144746":"POW_00874920","POMS_S_VARA_099820":"VARA_101377820","POMS_S_MAX_112154":"POW_03094259","POMS_S_NTR_2666644":"POW_02580599","POMS_S_VARA_615831":"VARA_101377247","POMS_S_KRO_098910":"KN_1676520","POMS_S_VARA_3114049":"VARA_101377839","POMS_S_IKON_420297":"VPWON_1257894","POMS_S_BNN_461727":"VARA_101377615","POMS_S_EO_475771":"VPWON_1260374","POMS_S_NTR_100221":"VPWON_1251179","POMS_S_NTR_1449451":"VPWON_1251931","POMS_S_NTR_2788067":"VPWON_1251931","POMS_S_VPRO_686783":"VPWON_1250334","POMS_S_AVRO_2269730":"POW_02944527","POMS_S_TROS_059934":"AT_2046090","POMS_S_NTR_100218":"VPWON_1256936","POMS_S_MAX_108583":"POW_03075258","POMS_S_VARA_2847607":"VARA_101377760","POMS_S_VPRO_084124":"VPWON_1250848","POMS_S_BNN_3050465":"BNN_101378291","POMS_S_BNN_388095":"BNN_101378789"}}'
  recorded_at: Fri, 22 Apr 2016 14:21:23 GMT
recorded_with: VCR 2.9.3
