---
http_interactions:
- request:
    method: get
    uri: https://rs.poms.omroep.nl/v1/api/schedule/channel/OPVO/now
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Npo-Date:
      - Fri, 06 May 2016 15:20:57 +0200
      Authorization:
      - NPO <POMS_KEY>:X2dGRXB0W/9B+nG+GK7OeujbFQlQIj9NvbfBkh7OL2s=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxyinstancename:
      - poms1a
    body:
      encoding: UTF-8
      string: '{"guideDay":1462485600000,"start":1462540500000,"duration":870000,"channel":"OPVO","urnRef":"urn:vpro:media:program:71174223","midRef":"T_POW_00468217","media":{"objectType":"program","mid":"T_POW_00468217","type":"BROADCAST","avType":"VIDEO","sortDate":1457531100000,"urn":"urn:vpro:media:program:71174223","embeddable":true,"broadcasters":[{"id":"TROS","value":"TROS"}],"titles":[{"value":"De
        Wereld van K3","owner":"MIS","type":"MAIN"},{"value":"Memobord","owner":"MIS","type":"SUB"}],"genres":[],"countries":[],"languages":[]}}'
  recorded_at: Fri, 06 May 2016 13:20:57 GMT
recorded_with: VCR 3.0.1
