---
http_interactions:
- request:
    method: get
    uri: https://rs.poms.omroep.nl/v1/api/schedule/channel/OPVO?max=1&sort=desc&stop=2016-01-01T12:00:00%2B01:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Npo-Date:
      - Fri, 01 Jan 2016 12:00:00 +0100
      Authorization:
      - NPO <POMS_KEY>:SrS7KcCnKPjpYjCia+nxiMH1q3kQ0DcfKrRLdvYVXeg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Proxyinstancename:
      - poms1a
    body:
      encoding: UTF-8
      string: '{"total":6144,"offset":0,"max":1,"items":[{"guideDay":1451602800000,"start":1451640300000,"duration":1380000,"channel":"OPVO","urnRef":"urn:vpro:media:program:34611931","midRef":"T_POW_00753962","media":{"objectType":"program","mid":"T_POW_00753962","type":"BROADCAST","avType":"VIDEO","sortDate":1388809260000,"urn":"urn:vpro:media:program:34611931","embeddable":true,"broadcasters":[{"id":"TROS","value":"TROS"}],"titles":[{"value":"Mickey
        Mouse clubhuis","owner":"MIS","type":"MAIN"},{"value":"De doorzetters","owner":"MIS","type":"SUB"}],"genres":[],"countries":[],"languages":[]}}]}'
  recorded_at: Fri, 01 Jan 2016 11:00:00 GMT
recorded_with: VCR 3.0.3
